.reference {
	--table-column-first-border-width: 0;
	--table-column-last-border-width: 0;
	--table-row-last-border-width: 0;
	--table-header-border-width: 0;
	--table-row-background-hover: var(--background-secondary);
}

.reference .HyperMD-table-row,
.reference table {
	--code-background: transparent;
}

.reference table {
	width: 100%;
}

.reference .HyperMD-table-row,
.reference table td:first-child {
	--code-normal: var(--color-cyan);
}

.reference table th {
	--table-white-space: nowrap;
}
.reference table th:first-child {
	min-width: 200px;
}

.hide-title .page-header {
	display:none;
}
.hide-title.markdown-preview-view div:nth-child(4) h1 {
	font-weight: var(--inline-title-weight);
	font-size: var(--inline-title-size);
	letter-spacing: -0.02em;
	margin-top: 0;
	padding-bottom: 0;
	border: none;
	line-height: 1.1;
}
